# Core dependencies for langchain_pirate.py
langchain-core
langchain-anthropic
python-dotenv

# CrewAI dependencies for crewai_sarcastic.py
crewai
crewai-tools


# NANDA Adapter
# nanda-adapter

flask
anthropic
requests
python-a2a==0.5.6
mcp
anthropic
python-dotenv
flask-cors
pymongo